<!-- Navigation-->
<nav class='navbar navbar-expand-lg navbar-light fixed-top font-nasalization' id='mainNav' style="background-color: #ffffff;">
	<div class='container'>
		<a class='navbar-brand' href='/' id='pageTop' role='button'>
			<img href='/' src='/assets/img/logos/keyscape_sq.png' alt='logo' width='25' height='25' class='d-inline-block align-text-top me-1'>
			<span href='/'>Keyscape</span>
		</a>

		<button class='navbar-toggler' type='button' data-bs-toggle='collapse' data-bs-target='#navbarResponsive'>
			<span class='navbar-toggler-icon'></span>
		</button>

		<div class='collapse navbar-collapse' id='navbarResponsive'>
			<ul class='navbar-nav ms-auto mb-2 mb-lg-0'>
				<li class='nav-item'>
					<a id="navItemLogin" class='nav-link' href='/room10c/login'>Entrar</a>
				</li>
				<li class='nav-item'>
					<a id="navItemSignup" class='nav-link' href='/room10c/signup'>Criar</a>
				</li>
			</ul>
		</div>
	</div>
</nav>