<!-- Example Card Contact-->
<div class='col-lg-2 text-center mb-4 mb-lg-0'>
	<a
		class='btn btn-light btn-round btn-round-lg mb-2'
		href='{{link}}'
		target='_blank'
	>
		<i class='fa-3x {{logo.[0]}} {{logo.[1]}}'></i>
	</a>
	<div>
		<span class='text-light h6'>
			{{name}}
		</span>
	</div>
</div>