<!-- Example Card Event-->
<div class='col-lg-4 col-md-12 mb-4 mb-lg-0 text-center'>
	<div>
		<h2 class='section-heading text-black' style='font-size: 4rem'>
			{{date}}
		</h2>
		<div>
			<span class='text-dark h5'>Local: </span>
			<span class='text-gray h5'>{{local}}</span>
		</div>
		<div>
			<span class='text-dark h5'>Horário: </span>
			<span class='text-gray h5'>{{time}}</span>
		</div>
		<div>
			<span class='text-dark h5'>Sala: </span>
			<span class='text-gray h5'>{{room}}</span>
		</div>
	</div>
</div>