<div class="modal fade" id="file4ModalLambda" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h4 class="modal-title text-center">ARQUIVO #4 (LAMBDA)</h4>
            </div>
            <div class="modal-body">

                <div class="row justify-content-center text-center" style="font-size: 25px">
                    <div class="col-sm-5 align-self-center">
                        <img class="img-fluid" src="/system10/assets/lambda/compass.png">
                    </div>

                    <div class="col-sm-7 align-self-center">
                        <div class="small-4 font-cursive">
                            Olá meus caros aventureiros, hoje contarei uma história, ela fala sobre um bravo grupo de aventureiros, que seguiu rumo ao sudeste, por 2 dias, em busca do Grande Oráculo, SylmOre , que vivia no ponto onde os 6 continentes se tocavam. Então, seguindo ao sudeste, passaram outros 3 dias viajando, em sua aventura, percorreram 3 dos continentes de ScryvEnn, visitando 10 Nações em sua jornada, então, partindo ao sul, percorreram DEZenas de kilometros, até chegar a cidade de NightingalE, lá se juntaram aos 3 heróis da nação. Agora em um grupo de 6 eles seguem rumo ao noroeste.
                            Com a torre do oráculo já visível esta jornada se aproxima de seu fim, há somente um pantano entre eles e seu objetivo. Ao se aproximar da torre eles sentem uma presença maligna, subitamente, o chão começa a tremer e dele surge o mago seNzidEeg, que havia se tornado UM Lich, um inimigo formidável, porém, com a ajuda dos heróis, os aventureiros foram capazes de derrotá-lo. (ERRO)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 

