<div class="modal fade" id="file3Modal" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h4 class="modal-title text-center">ARQUIVO #3 (MI)</h4>
            </div>
            <div class="modal-body font-nasalization">

                <div class="h5 mb-3">Informações já levantadas:</div>

                <div class="small my-2">Sandro é muito amigo de quem cuida da zeladoria e sempre leva um suco para essa pessoa;</div>
                <div class="small mb-2">Todos têm o telefone do responsável pela limpeza, que é xxxxx-2554;</div>
                <div class="small mb-2">O e-mail da Julia tem relação com uma personagem de um jogo que virou série;</div>
                <div class="small mb-2">A lixeira do T.I. está sempre cheia de saquinhos de chá;</div>
                <div class="small mb-2">Sílvia está sempre preocupada com sua hidratação;</div>
                <div class="small mb-2">O Gerente de Projetos gosta de refrigerante.</div>

            </div>
        </div>
    </div>
</div> 

{{#if false}}
    <div class="modal fade" id="file3Modal" tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <h4 class="modal-title text-center">ARQUIVO #3 (MI)</h4>
                </div>
                <div class="modal-body font-nasalization">

                    <div class="h5 mb-3">Informações já levantadas:</div>

                    <div class="small my-2">Sandro é muito amigo de quem cuida da zeladoria e sempre leva um suco para essa pessoa;</div>
                    <div class="small mb-2">Todos têm o telefone do responsável pela limpeza, que é xxxxx-2554;</div>
                    <div class="small mb-2">O e-mail da Julia tem relação com uma personagem de um jogo que virou série;</div>
                    <div class="small mb-2">A lixeira do T.I. está sempre cheia de saquinhos de chá;</div>
                    <div class="small mb-2">Sílvia está sempre preocupada com sua hidratação;</div>
                    <div class="small mb-2">O Gerente de Projetos gosta de refrigerante.</div>

                </div>
            </div>
        </div>
    </div> 

    <div class="modal fade" id="file3Modal" tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <h4 class="modal-title text-center">ARQUIVO #3 (LAMBDA)</h4>
                </div>
                <div class="modal-body">

                    <div class="row justify-content-center text-center" style="font-size: 25px">
                        <div class="col-sm-5 align-self-center">
                            <img class="img-fluid" src="/system10/assets/lambda/compass.png">
                        </div>

                        <div class="col-sm-7 align-self-center">
                            <div class="small-1 font-nasalization">

                                2 SE - 6 SO - 3 SE - 10 N - 10 S - 3 NE - 6 NO - 1 NE - 
                                2 SE - 6 SO - 3 SE - 10 N - 10 S - 3 NE - 6 NO - 1 NE - 
                                2 SE - 6 SO - 3 SE - 10 N - 10 S - 3 NE - 6 NO - 1 NE - 
                                2 SE - 6 SO - 3 SE - 10 N - 10 S - 3 NE - 6 NO - 1 NE - 
                                2 SE - 6 SO - 3 SE - 10 N - 10 S - 3 NE - 6 NO - 1 NE - 
                                2 SE - 6 SO - 3 SE - 10 N - 10 S - 3 NE - 6 NO - 1 NE - 
                                2 SE - 6 SO - 3 SE - 10 N - 10 S - 3 NE - 6 NO - 1 NE - 
                                2 SE - 6 SO - 3 SE - 10 N - 10 S - 3 NE - 6 NO - 1 NE - 
                                2 SE - 6 SO - 3 SE - 10 N - 10 S - 3 NE - 6 NO - 1 NE
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 

{{else}}


{{/if}}