
{{!-- 
<div class="modal fade" id="file3Modal" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h4 class="modal-title text-center">ARQUIVO #3 (MI)</h4>
            </div>
            <div class="modal-body font-nasalization">

                

                <div class="h5 mb-3">Informações já levantadas:</div>

                <div class="small my-2">Sandro é muito amigo de quem cuida da zeladoria e sempre leva um suco para essa pessoa;</div>
                <div class="small mb-2">Todos têm o telefone do responsável pela limpeza, que é xxxxx-2554;</div>
                <div class="small mb-2">O e-mail da Julia tem relação com uma personagem de um jogo que virou série;</div>
                <div class="small mb-2">A lixeira do T.I. está sempre cheia de saquinhos de chá;</div>
                <div class="small mb-2">Sílvia está sempre preocupada com sua hidratação.</div>




            </div>
        </div>
    </div>
</div> 

 --}}



<div class="modal fade" id="file3Modal" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h4 class="modal-title text-center">ARQUIVO #3 (MI)</h4>
            </div>
            <div class="modal-body">

                <div class="row justify-content-center text-center text-dark">
                    <div class="col-sm-4 my-2">
                        <button class="btn btn-outline-light w-100" data-bs-target="#modalCall1" data-bs-toggle="modal" data-bs-dismiss="modal">
                            Registro de<br>Chamada<br>U28AU&18?@!87
                        </button>

                    </div>

                    <div class="col-sm-4 my-2">
                        <button class="btn btn-outline-light w-100" data-bs-target="#modalCall2" data-bs-toggle="modal" data-bs-dismiss="modal">
                            Registro de<br>Chamada<br>U28AE&29?@!55
                        </button>
                    </div>

                    <div class="col-sm-4 my-2">
                        <button class="btn btn-outline-light w-100" data-bs-target="#modalCall3" data-bs-toggle="modal" data-bs-dismiss="modal">
                            Registro de<br>Chamada<br>U28AE&2^?!$96
                        </button>
                    </div>


                    <div class="col-sm-4 my-2">
                        <button class="btn btn-outline-light w-100" data-bs-target="#modalEmail1" data-bs-toggle="modal" data-bs-dismiss="modal">
                            Registro de<br>E-mail<br>#1
                        </button>

                    </div>

                    <div class="col-sm-4 my-2">
                        <button class="btn btn-outline-light w-100" data-bs-target="#modalEmail2" data-bs-toggle="modal" data-bs-dismiss="modal">
                            Registro de<br>E-mail<br>#2
                        </button>
                    </div>

                    <div class="col-sm-4 my-2">
                        <button class="btn btn-outline-light w-100" data-bs-target="#modalEmail3" data-bs-toggle="modal" data-bs-dismiss="modal">
                            Registro de<br>E-mail<br>#3
                        </button>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div> 

<div class="modal fade" id="modalCall1" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h5 class="modal-title text-center">Registro de Chamada<br>U28AU&18?@!87</h5>

                <div class="position-absolute" style="left: 3%; z-index: 10">
                    <button class="btn btn-outline-light" data-bs-target="#file3Modal" data-bs-toggle="modal" data-bs-dismiss="modal">
                        <i class="fas fa-arrow-left"></i>
                    </button>
                </div>
            </div>
            <div class="modal-body text-start font-nasalization">


                Números:  <span class="font-gothic text-c1">xxxxx-6579</span> -> <span class="font-cursive text-c2">xxxxx-2554</span><br><br>

                <div class="row">

                    <div class="col-3 font-gothic text-c1 my-2">
                        xxxxx-6579
                    </div>
                    <div class="col-9 font-gothic text-c1 my-2">
                        Opa tudo certo cara.
                    </div>


                    <div class="col-3 font-cursive text-c2 my-2">
                        xxxxx-2554
                    </div>
                    <div class="col-9 font-cursive text-c2 my-2">
                        Eae meu bom, tudo certo sim, e você?
                    </div>


                    <div class="col-3 font-gothic text-c1 my-2">
                        xxxxx-6579
                    </div>
                    <div class="col-9 font-gothic text-c1 my-2">
                        Também cara, então, a sala da T.I. vai precisar de uma limpeza profunda, a Julia do T.I. vai te ligar pra agendar.
                    </div>


                    <div class="col-3 font-cursive text-c2 my-2">
                        xxxxx-2554
                    </div>
                    <div class="col-9 font-cursive text-c2 my-2">
                         Iche, eu sempre fico tenso quando vamos limpar lá, morro de medo de estragar alguma coisa, e atrapalhar o funcionamento do Euler.
                    </div>


                    <div class="col-3 font-gothic text-c1 my-2">
                        xxxxx-6579
                    </div>
                    <div class="col-9 font-gothic text-c1 my-2">
                        Ah, relaxa, cara, não tem perigo não. Daqui a pouco ela te liga.
                    </div>


                    <div class="col-12 my-2">
                        …[TRECHO PERDIDO]...
                    </div>


                    <div class="col-3 font-cursive text-c2 my-2">
                        xxxxx-2554
                    </div>
                    <div class="col-9 font-cursive text-c2 my-2">
                         Pois é, nosso chefe de novo derrubou café na mesa…
                    </div>


                    <div class="col-12 my-2">
                        …[TRECHO PERDIDO]...
                    </div>


                    <div class="col-3 font-cursive text-c2 my-2">
                        xxxxx-2554
                    </div>
                    <div class="col-9 font-cursive text-c2 my-2">
                        Beleza!
                    </div>


                    <div class="col-3 font-gothic text-c1 my-2">
                        xxxxx-6579
                    </div>
                    <div class="col-9 font-gothic text-c1 my-2">
                        Valeu cara, até mais.
                    </div>


                    <div class="col-3 font-cursive text-c2 my-2">
                        xxxxx-2554
                    </div>
                    <div class="col-9 font-cursive text-c2 my-2">
                        Até.
                    </div>


                </div>

            </div>
        </div>
    </div>
</div> 

<div class="modal fade" id="modalCall2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h5 class="modal-title text-center">Registro de Chamada<br>U28AE&29?@!55</h5>

                <div class="position-absolute" style="left: 3%; z-index: 10">
                    <button class="btn btn-outline-light" data-bs-target="#file3Modal" data-bs-toggle="modal" data-bs-dismiss="modal">
                        <i class="fas fa-arrow-left"></i>
                    </button>
                </div>
            </div>


            <div class="modal-body text-start font-nasalization">

                Números:  <span class="font-gothic text-c1">xxxxx-0391</span> -> <span class="font-cursive text-c2">[N/A]</span><br><br>

                <div class="row">

                    <div class="col-3 font-gothic text-c1 my-2">
                        xxxxx-0391
                    </div>
                    <div class="col-9 font-gothic text-c1 my-2">
                        Alô.
                    </div>


                    <div class="col-3 font-cursive text-c2 my-2">
                        [N/A]
                    </div>
                    <div class="col-9 font-cursive text-c2 my-2">
                        Alô, quem fala?
                    </div>


                    <div class="col-3 font-gothic text-c1 my-2">
                        xxxxx-0391
                    </div>
                    <div class="col-9 font-gothic text-c1 my-2">
                        É a Julia do T.I., tudo certo?
                    </div>


                    <div class="col-3 font-cursive text-c2 my-2">
                        [N/A]
                    </div>
                    <div class="col-9 font-cursive text-c2 my-2">
                        Tudo sim Julia.
                    </div>


                    <div class="col-3 font-gothic text-c1 my-2">
                        xxxxx-0391
                    </div>
                    <div class="col-9 font-gothic text-c1 my-2">
                        É sobre a limpeza da sala de T.I., o Sandro me falou que você ia precisar da sala por algumas horas. Enviarei um e-mail formalizando.
                    </div>


                    <div class="col-12 my-2">
                        …[TRECHO PERDIDO]...
                    </div>


                    <div class="col-3 font-cursive text-c2 my-2">
                        [N/A]
                    </div>
                    <div class="col-9 font-cursive text-c2 my-2">
                         Pois é, já cansei de falar para ele parar de beber aquilo! Tem ideia de quantos problemas gástricos ele tem?
                    </div>


                    <div class="col-3 font-gothic text-c1 my-2">
                        xxxxx-0391
                    </div>
                    <div class="col-9 font-gothic text-c1 my-2">
                        Posso imaginar…
                    </div>


                    <div class="col-12 my-2">
                        …[TRECHO PERDIDO]...
                    </div>

                </div>

            </div>

        </div>
    </div>
</div> 

<div class="modal fade" id="modalCall3" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h5 class="modal-title text-center">Registro de Chamada<br>U28AE&2^?!$96</h5>

                <div class="position-absolute" style="left: 3%; z-index: 10">
                    <button class="btn btn-outline-light" data-bs-target="#file3Modal" data-bs-toggle="modal" data-bs-dismiss="modal">
                        <i class="fas fa-arrow-left"></i>
                    </button>
                </div>
            </div>
            <div class="modal-body text-start font-nasalization">

                Números:  <span class="font-gothic text-c1">[N/A]</span> -> <span class="font-cursive text-c2">xxxxx-7990</span><br><br>

                <div class="row">

                    <div class="col-3 font-gothic text-c1 my-2">
                        [N/A]
                    </div>
                    <div class="col-9 font-gothic text-c1 my-2">
                        Olá, boa tarde Silvia, tudo certo?
                    </div>


                    <div class="col-3 font-cursive text-c2 my-2">
                        xxxxx-7990
                    </div>
                    <div class="col-9 font-cursive text-c2 my-2">
                        Bom dia chefe,  tudo sim, e com você
                    </div>


                    <div class="col-3 font-gothic text-c1 my-2">
                        [N/A]
                    </div>
                    <div class="col-9 font-gothic text-c1 my-2">
                        Tudo certo, eu estou ligando pra falar sobre os novos “recrutas”, como está indo a seleção?
                    </div>


                    <div class="col-12 my-2">
                        …[TRECHO PERDIDO]...
                    </div>


                    <div class="col-3 font-gothic text-c1 my-2">
                        [N/A]
                    </div>
                    <div class="col-9 font-gothic text-c1 my-2">
                        Entendi, eu perguntei porque o Roger pediu autorização para limpar a sala da T.I., talvez tenhamos que adiar tudo pra semana que vem.
                    </div>


                    <div class="col-12 my-2">
                        …[TRECHO PERDIDO]...
                    </div>


                    <div class="col-3 font-gothic text-c1 my-2">
                        [N/A]
                    </div>
                    <div class="col-9 font-gothic text-c1 my-2">
                        Ah, sim, antes que me esqueça, conseguiu contato com os criadores do Euler? Estamos com uma certa urgência quanto a isso…
                    </div>


                    <div class="col-3 font-cursive text-c2 my-2">
                        xxxxx-7990
                    </div>
                    <div class="col-9 font-cursive text-c2 my-2">
                        Ainda não, pedirei para o estagiário reforçar a busca. É urgente?
                    </div>

                    <div class="col-12 my-2">
                        …[TRECHO PERDIDO]...
                    </div>

                </div>

            </div>
        </div>
    </div>
</div> 

<div class="modal fade" id="modalEmail1" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h5 class="modal-title text-center">Registro de E-mail #1</h5>

                <div class="position-absolute" style="left: 3%; z-index: 10">
                    <button class="btn btn-outline-light" data-bs-target="#file3Modal" data-bs-toggle="modal" data-bs-dismiss="modal">
                        <i class="fas fa-arrow-left"></i>
                    </button>
                </div>
            </div>
            <div class="modal-body text-start font-nasalization">

                <span class="font-gothic text-c1">Emissor: [MEMÓRIA CORROMPIDA]</span><br>
                <span class="font-cursive text-c2">Destinatário: rogersilva@expoente.com</span><br>

                <br>Mensagem:<br><br>

                <span class="font-gothic text-c1">Boa tarde.</span><br>
                <span class="font-gothic text-c1">A sala de T.I precisará de uma limpeza profunda. Por favor, peço que agende para o dia </span>[TRECHO PERDIDO]<br>
                <span class="font-gothic text-c1">Pedimos atenção especial para o canto Norte, pois nele estão parte do módulo Ômega </span>[TRECHO PERDIDO]<br>

            </div>
        </div>
    </div>
</div> 

<div class="modal fade" id="modalEmail2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h5 class="modal-title text-center">Registro de E-mail #2</h5>

                <div class="position-absolute" style="left: 3%; z-index: 10">
                    <button class="btn btn-outline-light" data-bs-target="#file3Modal" data-bs-toggle="modal" data-bs-dismiss="modal">
                        <i class="fas fa-arrow-left"></i>
                    </button>
                </div>
            </div>
            <div class="modal-body text-start font-nasalization">


                <span class="font-gothic text-c1">Emissor: [MEMÓRIA CORROMPIDA]</span><br>
                <span class="font-cursive text-c2">Destinatário: silvisantos@expoente.com</span><br>

                <br>Mensagem:<br><br>

                <span class="font-gothic text-c1">Boa tarde.</span><br>
                <span class="font-gothic text-c1">Coloquei os currículos para os novos recrutas em nossa pasta compartilhada.</span><br>
                <span class="font-gothic text-c1">Peço que, como de costume, faça a seleção dos candidatos apropriada para cada projeto, que estão listados na pasta </span>
                    [CONFIDENCIAL]
                <span class="font-gothic text-c1">, sob minha coordenação. Euler está tendo muitos problemas ultimamente, precisamos contratar os melhores.</span><br>
                <span class="font-gothic text-c1">Att.</span><br>


            </div>
        </div>
    </div>
</div> 

<div class="modal fade" id="modalEmail3" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h5 class="modal-title text-center">Registro de E-mail #3</h5>

                <div class="position-absolute" style="left: 3%; z-index: 10">
                    <button class="btn btn-outline-light" data-bs-target="#file3Modal" data-bs-toggle="modal" data-bs-dismiss="modal">
                        <i class="fas fa-arrow-left"></i>
                    </button>
                </div>
            </div>
            <div class="modal-body text-start font-nasalization">

                <span class="font-gothic text-c1">Emissor: silv_expo@expoente.com</span><br>
                <span class="font-cursive text-c2">Destinatário: [MEMÓRIA CORROMPIDA]</span><br>

                <br>Mensagem:<br><br>

                <span class="font-gothic text-c1">Boa tarde.</span><br>
                <span class="font-gothic text-c1">Envio lista de compras em anexo. Peço especial urgência para as cápsulas de espresso.</span><br>
                <span class="font-gothic text-c1">Att.</span><br>

            </div>
        </div>
    </div>
</div> 