<html lang='pt-br'>
	<head>
		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
		<meta name='description' content=''>
		<meta name='author' content='Lucas do Prado Pinto'>

		<title>{{title}}</title>

		<!-- Favicon-->
		<link rel='icon' type='image/x-icon' href='/assets/img/logos/keyscape.png'>

		<!-- Font Awesome icons (free version)-->
		<script src='/js/fontAwesome.min.js'></script>

		<!-- Core theme CSS (includes Bootstrap)-->
		<link href='/css/bootstrap.min.css' rel='stylesheet'>
		<link href='/{{pathFile}}css/styles.css' rel='stylesheet'>
	</head>

	<body id='pageTop' class="background background-custom {{className}} backGif">

		{{{body}}}

	</body>
</html>